<style type="text/css">
        
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: #123;
    }

    /*content */
    #test {
        margin-top: 3%;
    }

    #test-block {
        text-align: center;
        margin-bottom: 2%;
    }

    
    /*test-button*/
    .glow-button {
        text-decoration: none;
        display: inline-block;
        padding: 2% 4%;
        margin: 1% 2%;
        border-radius: 12px;
        box-shadow: 0 0 40px 40px #a200ff inset, 0 0 0 0 #a200ff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;
        transition: .15s ease-in-out;
    }

    .glow-button:hover {
        box-shadow: 0 0 10px 0 #b940ff inset, 0 0 10px 4px #b940ff;
    }
    /*end test-button*/



    #test-link:hover {
        color: #8F43EE;
        background: #2D2727;
        transition: 0.3s;
    }

    .container {
        margin-bottom: 4%;
    }

    .questionTitle {
        text-align: center;
    }

    .questionCount {
        float: right;
    }


    #quizdata {
        width: 40%;
    }


    /* header */
    #header {
        width: 100%;
        background: whitesmoke;
        padding: 1.5% 0;
    }

    #home {
        margin-left: 2%;
        font-size: 120%;
        text-decoration: none;
        color: #66347F;
        font-weight: 700;
        letter-spacing: 1px;

        padding: 1.5%;
    }

    #home:hover {
        background: #E4DCCF;
        transition: 0.35s;
    }

    #title {
        font-size: 150%;
        font-family: monospace;
        color: #66347F;
        float: right;
        margin-right: 2%;
    }


    #admin-link {
        font-size: 120%;
        text-decoration: none;
        color: #66347F;
        font-weight: 700;
        letter-spacing: 1px;

        padding: 1.5%;
    }

    #admin-link:hover {
        background: #E4DCCF;
        transition: 0.35s;
    }

    /*end hover*/


    /*quiz*/
    .container {
        align-items: center;
        justify-content: center;
    }

    #quizdata {
        background: white;
        padding: 2rem;
        border-radius: 3px;

        display: block;
        margin: 10% auto;
    }

    #quizdata div button {
        margin-top: 3.5%;
    }

    #quizdata div button {
        font-family: monospace;
    }
    /*end quiz*/


    /*index.html*/
    .category {
        padding: 15px 0;
        width: 35%;
        font-family: monospace;
        font-size: 140%;
        background: lightgreen;
    }        

    #category-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    #category-menu li a {
        padding: 4%;
        text-decoration: none;
        color: black;
        display: block;
    }
    
    #category-menu li a:hover {
        background: lightslategrey;
        padding-left: 10%;
        color: white;
        transition: 0.3s;
    }
    /*end index.html*/


    /*footer*/
    #img {
        width: 2%;
        padding: 0 1%;
    }

    footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;

        background: whitesmoke;
        padding: 1%;
    }

    #account {
        text-decoration: none;
    }
    /*end footer*/
    

    /*newtest*/
    #form {
        width: 30%;
        margin: 0 35%;
        margin-top: 2%;
    }

    #testform tr th label {
        font-family: monospace;
        font-size: 135%;
        color: ghostwhite;
        float: left;
    }

    #testform tr td select, #testform tr td input {
        width: 200px;
        padding: 1.5%;
        float: right;
    }

    #testform tr th {
        padding: 2.5% 0%;
    }

    #submit {
        font-family: monospace;
        font-size: 135%;
        padding: 1.5%;
    }

    #submit:hover {
        background: lightblue;
        border: 1px lightblue solid;
        padding: 2%;
        border-radius: 2px;
    }

    /*search*/

    #search-field {
        right: 0;
        top: 0;
        position: absolute;

        width: 30%;
        height: 50%;

        margin: 1%;

        font-family: monospace;
        font-size: large;

        text-align: center;
    }

</style>